ul {
  list-style: none;
}

.card .header {
  display: flex;
  justify-content: space-between;
}

.card .header div:first-child {
  display: flex;
  align-items: center;
}

.card .header div:first-child i {
  margin-left: 10px;
  margin-top: -5px;
}
